body {
    background-color: whitesmoke;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: "Arial";
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 25vmin);
  grid-template-columns: repeat(3, 25vmin);
  grid-gap: 0vmin;
  margin-left: 125px;
  margin-top: 115px;
  position: fixed;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

.btn-reset {
  border: 3px solid red;
}

h1 {
  text-align: center;
  margin-right: -800px;
  margin-top: 115px;
  font-weight: bold;
  font-size: 120px;
  font-family: "Helvetica";
}

#message {
  text-align: center;
  margin-right: -800px;
  font-size: 50px;
}

.player1 {
  background-color: crimson;
}

.player2 {
  background-color: cyan;
}

.unclaimed {

}